.container{
  display: flex;
  flex-direction: column;
}

.box{
 // border: 1px solid pink;
  margin: 20px;
}
  
.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}