@import '../../foundation';

.makeup-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    translate: -50%;
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: $white;
    margin: 20px;
    //border: 1px solid $light-gray;
}

.radio-toolbar{
    //border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

// removes look of radio button
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label{
    line-height: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio-toolbar label {
    height: 100px;
    width: 100px;
    background-color: $white;
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
}

.radio-toolbar label.selectedborder{
    background-color: $light-blue;
    border-radius: 50%;
}

.radio-toolbar label h4{
    display: none;
  }


.radio-toolbar label:hover {
    background-color: $light-blue;
    transition: all 0.5s ease;
    cursor: pointer;
     h4{
        display: block;
      }
    
  }
