@import 'foundation';

    //font-family: 'Martel Sans', sans-serif;
    //font-family: 'Leckerli One', cursive;

html{
    height: 100%;
    //border: dotted 10px green;
}

body{
    //border: dashed 10px red;
    color: $dark-blue;
    background: $off-white;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 2rem;
}

